USE [master]
GO
/****** Object:  Database [Train_schedule]    Script Date: 06.12.2022 11:29:15 ******/
CREATE DATABASE [Train_schedule]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Train_schedule', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Train_schedule.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Train_schedule_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Train_schedule_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Train_schedule].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Train_schedule]
GO
/****** Object:  Table [dbo].[Pessenger]    Script Date: 06.12.2022 11:29:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pessenger](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fio] [nvarchar](255) NULL,
	[passport] [nchar](10) NULL,
	[phone] [nchar](11) NULL,
 CONSTRAINT [PK_Pessenger] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 06.12.2022 11:29:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[price] [money] NULL,
	[idTrain] [int] NULL,
	[idPassenger] [int] NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Train]    Script Date: 06.12.2022 11:29:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Train](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[des] [nvarchar](255) NULL,
	[dep_point] [nvarchar](255) NULL,
	[num] [int] NULL,
	[dep_time] [time](7) NULL,
	[trav_time] [int] NULL,
	[stations] [nvarchar](255) NULL,
 CONSTRAINT [PK_Train] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Pessenger] ON 

INSERT [dbo].[Pessenger] ([id], [fio], [passport], [phone]) VALUES (1, N'Немтырёва К.А.', N'4618999999', N'89778888888')
INSERT [dbo].[Pessenger] ([id], [fio], [passport], [phone]) VALUES (2, N'Птицына Е.О.', N'4915777777', N'89994444444')
INSERT [dbo].[Pessenger] ([id], [fio], [passport], [phone]) VALUES (3, N'Иванов И.И.', N'4619666666', N'89035555555')
SET IDENTITY_INSERT [dbo].[Pessenger] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([id], [price], [idTrain], [idPassenger]) VALUES (11, 100.0000, 1, 3)
INSERT [dbo].[Ticket] ([id], [price], [idTrain], [idPassenger]) VALUES (12, 70.0000, 2, 2)
INSERT [dbo].[Ticket] ([id], [price], [idTrain], [idPassenger]) VALUES (13, 60.0000, 2, 1)
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[Train] ON 

INSERT [dbo].[Train] ([id], [des], [dep_point], [num], [dep_time], [trav_time], [stations]) VALUES (1, N'Курский вокзал', N'Петушки', 6927, CAST(N'18:23:00' AS Time), 153, N'Орехово-Зуево, Дрезна, Вохна, Есино ')
INSERT [dbo].[Train] ([id], [des], [dep_point], [num], [dep_time], [trav_time], [stations]) VALUES (2, N'Казанский вокзал', N'Черусти', 6857, CAST(N'09:13:00' AS Time), 180, N'Шатура, Авсюнино, Куровское')
INSERT [dbo].[Train] ([id], [des], [dep_point], [num], [dep_time], [trav_time], [stations]) VALUES (3, N'Курский вокзал', N'Петушки', 6927, CAST(N'10:23:00' AS Time), 105, N'Орехово-Зуево, Дрезна, Вохна, Есино ')
SET IDENTITY_INSERT [dbo].[Train] OFF
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Pessenger] FOREIGN KEY([idPassenger])
REFERENCES [dbo].[Pessenger] ([id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Pessenger]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Train] FOREIGN KEY([idTrain])
REFERENCES [dbo].[Train] ([id])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Train]
GO
USE [master]
GO
